@mixin headerFont {
    font-family: $header-font-family;
    letter-spacing: $header-letter-spacing;
}

@mixin inverse {
    background-color: $black;
    color: $white;
}

footer {
    background-color: $secondary-color;
    padding: 40px 8.3%;
}

.inverse {
    @include inverse;
}

.wrap {
    font-family: $body-font-family;
    margin: 8% 20%;
    line-height: 1.6;
    text-align: center;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.bodyFont {
    font-family: $body-font-family;
}

.headerFont {
    @include headerFont;
}

.heroFont {
    @include headerFont;
    letter-spacing: 0.5rem;
    color: $white;
}

.hero {
    position: relative;
    height:100vh;
    background: url('../../assets/img/heros/hero.jpg') no-repeat center center;
    background-size: cover;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#logo {
    padding: 25px 0;
    min-width: 100px;
    width: 10%;
}

#mobileLogo {
    width: 25%;
    padding: 5px 0px;
}

#hamburger {
    margin: 0 5px;
}

.menu {
    font-family: $header-font-family;
    font-size: 0.8rem;
    letter-spacing: $header-letter-spacing;
}

.three-grid {
    margin: auto 15px;
}

.image-hover-wrapper {
  position: relative;

  a {
    display: inline-block;
    letter-spacing: normal;
    line-height: initial;
    margin: 0;
    padding: 0;
    position: relative;

    img {
      float: left;
      overflow: hidden;
      width: 100%;
    }

    .image-hover-wrapper-reveal {
      background-color: rgba($black, 0.25);
      color: $white;
      display: inline;
      height: 100%;
      margin-left: -100%;
      opacity: 0;
      position: absolute;
      width: 100%;
      z-index: 80;
      transition: $image-hover-wrapper-transition;

      &:hover {
        opacity: 1;
        transition: $image-hover-wrapper-transition;
      }
    }
  }

  .image-hover-wrapper-banner {
    color: $white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}

.fixed-font-size {
    font-family: $header-font-family;
    font-size: 1.8rem;
    letter-spacing: $header-letter-spacing;
}

.vertical .menu :hover, #leftMenu > li > a:hover, #rightMenu > li > a:hover {
    @include inverse;
}

button:hover {
    opacity: $hover-opacity;
}

#emailForm {
    margin: 8% 25px;
}

.socialIcon {
    height: 16px;
    margin: 0 3px;
    text-align: center;

    img {
        height: 100%;

        &:hover {
            opacity: $hover-opacity;
        }
    }
}

#footerLogo {
    width: 25px;
}

.topMargin15 {
    margin: 15px 0 0 0 ;
}

.topMargin30 {
    margin: 30px 0 0 0 ;
}

.footerText {
    font-size: 0.8rem;
}

a:hover {
    text-decoration: underline;
}

.footerLabel {
    font-family: $body-font-family;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}

// CSS FOR MEMBERS/LOGIN PAGE
.membersHero {
    background: url('../../assets/img/heros/reaching_barbells_dark.png') no-repeat center center;    
}
