
.hero {
    position: relative;
    height:100vh;
    background: url('../../assets/img/hero.jpg') no-repeat center center;
    background-size: cover;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#logo {
    // margin: 0 auto;
    padding: 25px 0;
    min-width: 100px;
    width: 25%;
}